#credits {
  ion-content {
    --padding-bottom: 30px;

    .credits span {
      display: block;
      margin-bottom: 10px;
      white-space: normal;
    }

    .sponsors {
      .row {
        display: flex;
        box-orient: horizontal;
        flex-direction: row;
        box-pack: center;
        justify-content: center;
        box-align: center;
        align-items: center;

        .image-wrapper {
          box-flex: 1;
          flex: 1 1 auto;
          padding: 10px;
          margin: 10px;
          text-align: center;
        }
      }
    }
  }
}
